name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # تغییر نسخه به 3.16.0 برای حل ارور FlutterPlugin.kt
          flutter-version: '3.16.0' 

      - name: Install dependencies
        run: |
          flutter clean
          flutter pub get

      - name: Build APK
        # استفاده از دستور عمومی‌تر برای جلوگیری از تداخل معماری
        run: flutter build apk --release --no-tree-shake-icons
