name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # این نسخه را دقیقاً مطابق با پروژه شما تنظیم کردم
          flutter-version: '3.10.3' 

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        # دستور ساخت برای معماری استاندارد موبایل
        run: flutter build apk --release --target-platform android-arm64 --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-calculator-app
          path: build/app/outputs/flutter-apk/*.apk
